body {
    margin: 0;
    padding: 0;
}

.euro-page{
    background-color: #121212;
    height: 43.75rem;
    flex-shrink: 0;
}

#navigation-container {
    background-color: #272525;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1.25rem;
}

.logo{
    height: 2.5rem;
    width: auto;
    padding-top: 0.6rem;  
    padding-left: 0.625rem; 
}

.list-components {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 0.3rem 0.9rem;
    opacity: 0.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.active{
    color: rgba(188, 60, 216, 1);
}

#first-button{
    background-color: rgba(188, 60, 216, 1);
    border: rgba(188, 60, 216, 1);
    color: #ffffff;
    height: 3rem;
    width: 6.2rem;
    border-radius: 1rem; 
    margin: 10px;
}

/* Navigation sections */



.container{
    border: 1px solid rgba(196, 196, 196, 0.76);
    background: rgba(196, 196, 196, 0.07);
    backdrop-filter: blur(28px);
    display: flex;
    height: 21rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 13% 5%;
}

.text{
    color: #ffffff;
    margin: 0;
}
.port-image{
    height: auto;
    width: 25rem;
}

#job-title{
    color: #F1F1F1;
font-family: Playfair Display;
font-size: 4rem;
font-style: normal;
font-weight: 43.7rem;
line-height: normal;
letter-spacing: 0.08rem;
margin: 0;
}



/* about me section */

.about-me{
    height: 43.7rem;
    flex-shrink: 0;
}

#cont-about{
    padding-top: 1.5rem;
}

.about{
height: 19rem;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0 5% 0 5%;
}



.about-me-text{
    height: 20%;
    width: 30%;
}

#about-me-image{
    height: 100%;
    width: auto;
}



.skill-img{
    
    height: 7rem;
    padding: 0.5rem;
    flex-shrink: 0;
}

.my-skills-container{
    margin: 5% 5% 0 5%;
}

/* my project section */

.my-project{
    background-color: #121212;
    flex-shrink: 0;
    color: white;
}

#skill-img-set{
    padding: 1.2rem;
}

.project-container{
    display: flex;
    padding: 6rem 6.8rem 7.5rem 6.9rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 6rem;
}

#sub-cont{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}

#cont-text{
    display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 2rem;
flex: 1 0 0;
align-self: stretch;
}

#proj-1-image{
    width: 45%;
    height: Auto;
    border-radius: 1rem;
}
#port-text2{
    color: var(--neutral-1, #E3E4E6);
font-feature-settings: 'clig' off, 'liga' off;
/* Heading 3/Semibold */
font-family: Work Sans;
font-size: 2rem;
font-style: normal;
font-weight: 30rem;
line-height: 2.5rem;
}

.other-buttons{
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6rem;
border: 1px solid var(--neutral-2, rgba(227, 228, 230, 0.55));
}

/* contact me section */

.contact-me{

    background-color: #ffffff;
    flex-shrink: 0;
}


/* media queries section */

@media (max-width: 1200px){


.port-image{
    height: auto;
    width: 23rem;
    margin-top: 5%;
}

#job-title{
font-size: 3rem;
font-weight: 35rem;
line-height: normal;
letter-spacing: 0.03rem;

}



.about-me-text{
    height: 20%;
    width: 30%;
    font-size: 80%;
    padding: 2%;
}

#about-me-image{
    width: auto;
    height: 80%;
    
}

}


@media (max-width: 480px){

    #sub-cont{
        display: flex;
        flex-direction: column;
    }
    
}

/* comment section starts here */

.peoples-comments {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .comment-details {
    border-radius: 1rem 0rem 0rem 1rem;
    background: #F2F3F4;
    backdrop-filter: blur(0.04rem);
    padding: 2.5rem;
    margin-bottom: 4rem;
  }
  
  .owners-name {
    color: #121212;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: DM Sans;
    margin-bottom: 0.6rem;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.rem;
    /* 128.571% */
  }
  
  .comment-buttons {
    margin-bottom: 4rem;
  }
  
  .owners-work {
    color: #121212;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 0;
    /* 162.5% */
  }
  
  .owners-company {
    color: #121212;
    margin-top: -1rem;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
  }
  
  .comment-descripton-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #comment-container {
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 5rem;
  }
  
  #comment-header {
    color: var(--black-color-page-header, #131313);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'DM Sans', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4rem;
  }
  
  #comment-description {
    color: var(--black-color-grey-700, #393C3F);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.875rem;
  }
  
  .circularize {
    border: solid 1px #BABEC1;
    padding: 1rem;
    border-radius: 9rem;
    margin-right: 1rem;
  }
  
  .get-in-touch {
    color: rgba(9, 9, 9, 0.55);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
  
    /* Heading 1/Light */
    font-family: Work Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 84px */
    letter-spacing: -1.12px;
  }
  
  .get-in-touch-detail {
    color: #090909;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
  
    /* Body 1/Light */
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 27px */
  }
  
  .comment-footer {
    padding: 2.5rem;
    margin-bottom: 4rem;
  }
  
  .comment-footer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .icons {
    color: #0909098C;
    margin: 2rem;
  }
  
  .comment-footer-icons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  /* 
      comment section ends here 
    */